// Add your own custom CSS here.
@import "pygments-tomorrow";

.post-content img,
.post-excerpt-home img,
.post-nav img {
  @extend .img-rounded;
}
.post-content table,
.post-excerpt-home table,
.post-nav table {
  @extend .table;
  @extend .table-bordered;
}

.LI-profile-pic-container{
    background-image: url(https://media.licdn.com/media/AAEAAQAAAAAAAAdSAAAAJDg1NjY3N2JiLTJlNGItNGVjMC04ZDUxLWIzYzkxM2JmODQ1MQ.jpg);
    background-size: auto;
    background-position: 378px -714px;
}